body {
    font-family: 'Overpass', sans-serif;
}


/*hero-section*/

#hero-container {
    width: 100%;
    padding: 0;
    margin: 0;
}

.hero-section {
    background: linear-gradient(rgba(20,20,20, .5), 
                rgba(20,20,20, .5)),
                url(../images/Max-main.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    height: 100vh;
    margin: 0;
}

.logo-pic {
    position: absolute;
    width: 57%;
    background-size: cover;
    background-position: center left;
}

.hero-pic {
    top: 300px;
    left: -15%;
}


/*2nd section*/

/* .pg1 {
    margin-right: 0;
    margin-left: 0;
} */

.pg1 > div {
    padding: 0;
    overflow: hidden;
}

.pg1 > div > a > img {
    width: 100%;
}

.pg1 > div > a {
    text-decoration: none;
    text-decoration-style: none;
}

.pg1-head {
    background: rgba(255,255,255,1);
    color: black;
    position: absolute;
    left: 7%;
    bottom: 90px;
    font-size: 20px;
    padding: 5px;
    font-family: 'Pathway Gothic One', sans-serif;
}

.pg1-text {
    border: 2px solid white;
    text-align: center;
    padding: 10px;
    background: rgba(0,0,0,.6);
    color: white;
    font-size: 15px;
    position: absolute;
    bottom: 40px;
    left: 7%;
}



.list-title {
    max-width: 900px;
    margin: 0 auto;
}

@media (max-width: 992px) {
    .list-title {
        max-width: 720px;
    }
}

@media (max-width: 768px) {
    .list-title {
        max-width: 500px;
    }
}

@media (max-width: 526px) {
    .list-title {
        max-width: 350px;
    }
}

@media (max-width: 373px) {
    .list-title {
        max-width: 280px;
    }
}


.header-text > h1 {
    margin: 20px 0;
    margin-top: 40px;
    color: #777;
    font-family: 'Overpass', sans-serif;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
}


.no-pd {
    padding: 0;
}

#sect2-container {
    width: 100%;
    padding: 0;
    margin: 0;
}


/*3rd section*/

.listings {
    max-width: 900px;
    margin: 0 auto;
}

.listings > div {
    overflow: hidden;
}


.listings > div > a > img {
    transition: .7s;
    width: 100%;
}

.listings > div > a > .pg3-text {
    color: white;
    position: absolute;
    margin-bottom: 0;
    bottom: 1%;
    margin-left: 5px;
    font-size: 15px;
    visibility: hidden;
}

@media (max-width: 992px) {
    .listings > div > a > .pg3-text {
        left: 33%;
    }
    .listings {
        max-width: 720px;
    }
}

@media (max-width: 768px) {
    .listings {
        max-width: 500px;
    }
}

@media (max-width: 526px) {
    .listings {
        max-width: 350px;
    }
}

@media (max-width: 373px) {
    .listings {
        max-width: 280px;
    }
}

/*contact section*/

.pg3 {
    margin-top: 40px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 992px) {
    .pg3 {
        max-width: 720px;
    }
}

@media (max-width: 768px) {
    .pg3 {
        max-width: 500px;
    }
}

@media (max-width: 526px) {
    .pg3 {
        max-width: 350px;
    }
}

@media (max-width: 373px) {
    .pg3 {
        max-width: 280px;
    }
}


.pg3 > div > h1 {
    color: #777;
    font-family: 'Overpass', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.pg3 > #contact-bottom {
    border: 1px solid #ccc;
    text-align: center;
    margin-top: 5px;
}

.pg3 > #contact-bottom > a {
    text-decoration: none;
    color: #777;
}

.pg3 > #contact-bottom > a > h2 {
    font-size: 15px;
    margin-top: 10px;
}

.pg3 > #contact-bottom:hover {
    background-color: #777;
    color: white;
}

.pg3 > #contact-bottom > a > h2:hover {
    color: white;
}

.pg3 > #contact-bottom > a:hover {
    color: white;
}

.social-div {
    padding-right: 0;
}

.social-icons {
    padding-top: 5px;
    margin-bottom: 0;
    float: right;
}

.pg3 > div > ul > li {
    list-style: none;
    display: inline;
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin-left: 20px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: white;
    color: #3B5998; 
    border: 1px solid #ccc;
}

.fa-snapchat {
    background: white;
    color: #fffc00;  
    border: 1px solid #ccc;
}

.fa-instagram {
    background: white;
    color: #3f729b;  
    border: 1px solid #ccc;
}

@media (max-width: 992px) {
    .pg3 > #contact-bottom {
        width: 50%;
        margin: 0 auto;
    }
}

@media (max-width: 450px) {
    .pg3 > #contact-bottom > a > h2{
        font-size: 10px;
    }
}

/*footer section*/

.footer-quote {
    background-color: #777;
    color: white;
    width: 100%;
    padding: 0;
    margin-top: 35px;
}

.quote-text {
    max-width: 900px;
    margin: 0 auto;
}

.quote-text > div > p {
    padding: 10px;
    padding-top: 20px;
    padding-left: 0;
    font-weight: 100;
    font-size: 18px;
    font-family: 'Overpass', sans-serif;
}

@media (max-width: 992px) {
    .quote-text {
        max-width: 720px;
    }
    .quote-text > div > p {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .quote-text > div > p {
        color: #777;
    }
}

.footer-setting {
    background-color: black;
    width: 100%;
}

.footer {
    border-top: 2px solid black;
}

.footer-stuff {
    margin: 0 auto;
    margin-top: 2%;
    max-width: 900px;
}

.footer-options {
    padding-left: 0;
}

.footer-options > li {
    list-style: none;
    display: inline;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

.footer-options > li > a {
    color: #777;
}

.footer-options > li:not(:first-child):before {
    content: " | ";
    padding: 1%;
}

.footer-stuff > p {
    font-family: 'Lato', sans-serif;
    color: #777;    
}

.footer-phone {
    font-family: 'Lato', sans-serif;
    color: #777;
}

.footer-copyright {
    font-family: 'Lato', sans-serif;
    color: #777;
    margin: 0 auto;
    max-width: 900px;
}

@media (max-width: 992px) {
    .footer-stuff {
        max-width: 720px;
    }
    .footer-copyright {
        max-width: 720px;
    }
}

@media (max-width: 768px) {
    .footer-stuff {
        max-width: 500px;
    }
    .footer-copyright {
        max-width: 500px;
    }
    .footer-phone {
        float: left;
        padding-left: 0;
    }
}

@media (max-width: 526px) {
    .footer-stuff {
        max-width: 350px;
    }
    .footer-copyright {
        margin-top: 10px;
        max-width: 350px;
    }
    .footer-options > li {
        display: block;
        text-align: left;
        list-style: unset;
        margin-top: 10px;
    }
    .footer-phone {
        float: left;
        padding-left: 0;
    }
    .footer-options > li:not(:first-child):before {
        content: none;
    }
}

@media (max-width: 373px) {
    .footer-stuff {
        max-width: 280px;
    }
    .footer-copyright {
        max-width: 280px;
    }
    .footer-options > li {
        display: block;
        text-align: left;
        list-style: unset;
        margin-top: 10px;
    }
    .footer-phone {
        float: left;
        padding-left: 0;
    }
    .footer-options > li:not(:first-child):before {
        content: none;
    }
}

/*responsiveness for homepage*/
@media (min-width: 992px) {
    .no-brd-right {
        border-right: none;
    }

}

@media (max-width: 992px) {
    .pg3 > div > h1 {
        text-align: center;
    }

    .pg3 > div > h2 {
        width: 50%;
        margin: auto;
    }

    .social-icons {
        float: none;
        text-align: center;
        padding: 0;
        margin-top: 10px;
    }

    .footer-options {
        text-align: center;
    }

    .footer-stuff > p {
        text-align: center;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .fa {
        font-size: 15px;
        width: 45px;
    }
}


/*about page nav*/

#nav-toggle {
    font-size: 40px;
    color: black;
    text-decoration: none;
    float: right;
    margin: 10px;
    margin-right: 0;
}

.no-pd-left {
    padding-left: 0;
}

.hamburger {
    padding-right: 0;
}


.top-section {
    border-bottom: 1px solid #ccc;
}

.top-section > div > h1 {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.top-descript {
    margin-bottom: 10px;
    color: #777;
}

.top-descript > div > p {
    text-transform: uppercase;
    font-family: 'overpass', sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
    line-height: 1.6;
    font-size: 20px;
}

.top-header {
    margin-top: 10px;
    font-size: 100px;
    font-weight: 400;
    font-family: 'Pathway Gothic One', sans-serif;
    letter-spacing: 2px;
}

/*about main pics*/


.main-photo > div > img {
    width: 100%;
    height: auto;
}

.about-pic {
    padding: 0;
}

.about-info {
    font-family: 'Lato', sans-serif;
}

/*about info*/

.title {
    text-align: center;
    margin-top: 40px;
}

.title > div > p {
    color: #777;
    text-transform: uppercase;
    font-family: 'overpass', sans-serif;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 1.6;
    font-size: 25px;
}


.about-info > div > p {
    text-indent: 10px;
    color: #777;
    font-family: 'overpass', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.about-info > div > img {
    width: 100%;
    margin-bottom: 10px;
}


/*communities listings*/

.list-pic {
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 10px;
}

.first-row {
    margin-top: 20px;
}

.communities-option > div {
    overflow: hidden;
}

.communities-option > div > a > img {
    width: 100%;
}

.communities-option > div:hover {
    opacity: 0.7;
    transition: .7s;
}

.comm-text {
    position: absolute;
    color: white;
    text-align: center;
    background-color: rgba(0,0,0,.5);
    z-index: 1;
    bottom: 0;
    width: calc(100% - 10px);
    padding: 20px;
    font-family: 'Overpass', sans-serif;
    font-weight: 100;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.list-text {
    text-align: left;
    height: 100%
}

.list-text > .add-name {
    font-weight: 400;
    font-size: 15px;
    margin-top: 55%;
}

@media (max-width: 992px) {
    .comm-text {
        font-size: 12px;
    }
    .list-text > .add-name {
        margin-top: 40%;
    }
}

@media (max-width: 768px) {
    .list-text > .add-name {
        margin-top: 67%;
    }
}

@media (max-width: 650px) {
    .list-text > .add-name {
        margin-top: 56%;
    }
}

@media (max-width: 559px) {
    .list-text > .add-name {
        margin-top: 44%;
    }
}

@media (max-width: 510px) {
    .list-text > .add-name {
        margin-top: 36%;
    }  
}

@media (max-width: 475px) {
        .list-text > .add-name {
        margin-top: 35%;
    }
}

@media (max-width: 410px) {
    .list-text > .add-name {
        margin-top: 0%;
    }
}

@media (max-width: 365px) {
    .list-text > .add-name {
        margin-top: -10%;
    }
}

/*contact form*/

.blah {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Overpass', sans-serif;
    padding: 0;
}

.blah > label {
    font-family: 'Overpass', sans-serif;
    font-weight: 100;
    color: #777;
}

.form-btn {
    width: 50%;
    background-color: #666;
    border-color: #666;
}

.btn-wrapper {
    text-align: center;
    font-family: 'Overpass', sans-serif;
}

.blah > input::placeholder {
    color: white;
    font-family: 'Overpass', sans-serif;
    font-weight: 100;
}

.blah > input {
    background-color: #ccc;
    border: 1px solid white;
}

.blah > textarea::placeholder {
    color: white;
    font-weight: 100;
}

.blah > textarea {
    background-color: #ccc;
    border: 1px solid white;
}

.waiver > p {
    font-family: 'Overpass', sans-serif;
    font-weight: 100;
    color: #777;
}

textarea {
    resize: none;
}

.container-width {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 992px) {
    .container-width {
        max-width: 720px;
    }
}

@media (max-width: 768px) {
    .container-width {
        max-width: 500px;
    }
}

@media (max-width: 526px) {
    .container-width {
        max-width: 350px;
    }
}

@media (max-width: 373px) {
    .container-width {
        max-width: 280px;
    }
}

/*preferred vendors list*/

.pref-header {
    margin-top: 15px;
}

.pref-list > div > h1 {
    font-family: 'overpass', sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    color: #777;
}

.pref-list > div > p {
    margin: 0;
    font-family: 'overpass', sans-serif;
    color: #777;
    font-weight: 100;
}

@media (max-width: 768px) {
    .pref-small {
        margin-top: 10px;
    }
    .pref-header {
        margin-top: 25px;
    }
}


/*sellers*/

.seller-icon {
    color:  rgba(74, 144, 226, 1);
}

.seller-icon > .fa:hover {
    opacity: 1;
}

.side-form {
    text-align: center;
    background-color: rgba(145, 167, 195, 1);
    border: 1px solid black;
    font-family: 'overpass', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
}

.side-space > input::placeholder {
    font-weight: 100;
}

.side-space > textarea::placeholder {
    font-weight: 100;
}

.side-space > h2 {
    font-weight: 400;
}

.side-btn {
    white-space: normal;
    text-transform: uppercase;
    font-weight: 400;
}

.side-space {
    margin-bottom: 15px;
    font-size: 25px;
}

.page-info > div > p {
    text-indent: 10px;
    font-family: 'overpass', sans-serif;
    font-size: 15px;
    color: #777;
}

.page-info > div > p > b {
    color: black;
}

.marg-bot {
    margin-bottom: 20px;
}

.no-pd-left2 {
    padding-left: 0;
}



/*investors*/

hr {
    border: .5px solid black;
    width: 100%;
    display: inline-block;
}

.page-info > div > b {
    font-family: 'overpass', sans-serif;
    font-size: 20px;
}

.no-pd2 {
    padding-left: 0;
    padding-right: 0;
}

/*property management*/

.propMgmt {
    width: 60%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

.page-info > div > ul > li {
    font-family: 'overpass', sans-serif;
    color: #777;
}


/*featured invest listings*/

.top-section > div > h1 > p {
    font-size:  15px;
    display: inline;
}

.prop-detail {
    font-family: 'overpass', sans-serif;
    font-weight: 100;
    color: #777;
    font-size: 25px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.navbar-list {
    border: 1px solid #ccc;
    overflow: hidden;
    margin-bottom: 40px;
    box-sizing: border-box;
}

.list-top {
    text-decoration: none;
    font-family: 'overpass', sans-serif;
    color: #777;
    text-transform: uppercase;
    font-weight: 400;
    padding: 12px 14px 10px 14px;
    border-right: 1px solid #ccc;
    float: left;
}

.navbar-list > a:hover {
    text-decoration: none;
}

.print  {
    float: right;
    border-left: 1px solid #ccc;
    border-right: none;
}

.list-top:hover {
    color: #777;
    background-color: #f4f4f4;
}

.listing-pic-sing > div > img {
    width: 100%;
    height: auto;
}

.listing-pic-plur > div {
    max-width: 100%;
    height: auto;
    padding: 0;
}

.listing-pic-plur > div > img {
    width: 100%;
}

.pica {
    padding-right: 5px;
}

.picb {
    padding-left: 5px;
}

.picc {
    padding-right: 5px;
    padding-top: 10px;
}

.picd {
    padding-left: 5px;
    padding-top: 10px;
}

.info-container {
    background-color: #f4f4f4;
    padding: 20px;
    width: calc(50% - 5px);
    margin-top: 5px;
}

.info-left {
    margin-right: 5px;
}

.info-right {
    margin-left: 5px;
}

.info-container > div > div > h3 {
    text-align: left;
    font-family: 'overpass', sans-serif;
    color: #222;
    margin: 0 0 20px;
    text-transform: uppercase;
    font-size: 20px;
}

.kvs .kv {
    border-bottom: 1px solid #e6e6e6;
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 8px;
    font-family: 'overpass', sans-serif;
    color: #777;
}

.kv {
    text-decoration: none;
    display: flex;
    width: 100%;
}

.kvs :last-child {
    border-bottom: none;
}

.k {
    font-weight: 400;
}

.v {
    text-align: right;
    margin-left: auto;
    font-weight: 100;
}



/*end fixes*/

@media (max-width: 992px) {
    .no-pd-left2 {
        padding-right: 0;
    }
}

.pg1 > div {
    padding: 0;
    overflow: hidden;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

